@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animation";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "pages/home";

.header{
    height: 90vh;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

    &__logo-box{
        position: absolute;
        top: 40px;
        left: 40px;
    }
    
    &__logo{
        height: 30px;
    }
    
    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }
}



.text-box__head-primary{
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.head-primary{

    &--main{
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 35px;
        display: block;
        animation: slideLeft 1s ease-in-out;
    }
    
    &--sub{
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 17.5px;
        display: block;
        animation: slideRight 1s ease-in-out;
    }
}



@keyframes slideLeft{
    0%{
        opacity: 0;
        transform: translateX(-30px);
    }
    80%{
        transform: translateX(20px);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight{
    0%{
        opacity: 0;
        transform: translateX(30px);
    }
    80%{
        transform: translateX(-20px);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0);
    }
}

.btn{
    &:link,
    &:visited{
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 100px;
    animation: slideUp 0.3s linear 1s both;
    
}

    &:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba($color-black, 0.2);
        &::after{
        transform: scale(1.2, 1.7);
        opacity: 0;
    }
}

    &::after{
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 100px;
    z-index: -1;
    top: 0;
    left: 0;
    transition: all .2s;
    
}

    &:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba($color-black, 0.2);
}

    &--white{
        background-color: $color-white;
        color: $color-dark-grey;
        &:hover::after{
        background-color: $color-white;
    }
}
    
}

@keyframes slideUp{
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0);
    }
}